/*
 * Aline by FreeHTML5.co
 * URL: https://freehtml5.co
 * Facebook: https://fb.com/fh5co
 * Twitter: https://twitter.com/fh5co
 */
 
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
  background: $white url("../images/body-bg.jpg") no-repeat center;
  background-size: cover;
  overflow-x: hidden;
}

header {
  background-color: $white;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.07);
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

.main-nav {
  a {
    font-size: 16px;
    color: $gray-700;

    &:hover {
      color: $gray-700;
    }
  }
}

.logo {
  position: relative;
  padding: 20px 0;
  margin-bottom: 30px;

  &::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 3px;
    display: block;
    background-color: $red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 3;
  }

  &::after {
    content: "...........................................................";
    color: $gray-300;
    font-family: $font-family-monospace;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  a {
    &::after {
      content: "";
      width: 40px;
      height: 13px;
      display: block;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &::before {
      content: "";
      width: 1px;
      height: 25px;
      background: $gray-300;
      position: absolute;
      left: 50%;
      bottom: -30px;
      z-index: 2;
      display: none;
    }
  }
}

.offcanvas {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -300px;
  top: 0;
  background: $dark;
  padding: 30px;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  padding-top: 60px;

  .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }


  li {
    a {
      display: block;
      padding: 15px 0;
      font-size: 16px;
      text-transform: uppercase;
      color: $white;
      border-bottom: 1px solid rgba($redish, 0.5);

      &:hover {
        color: $redish;
        text-decoration: none;
      }
    }
  }

  address {
    color: $white;
    font-size: 18px;

    img {
      width: 200px;
      margin: 0 auto 30px;
      display: block;
    }
  }

  .social-link {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      background-color: $red;
      color: $white;
      border: 1px solid $red;
      margin: 10px 10px 0 0;
      @include transition;

      &:hover {
        border: 1px solid $white;
        background-color: transparent;
        color: $white;
      }
    }
  }

  &.hide {
    left: -300px;
    transition: all 1s ease-in-out;
  }

  &.show {
    left: 0;
    transition: all 1 ease-in-out;
  }
}

.cart-login {
  a {
    margin-right: 10px;
    padding: 10px;
    position: relative;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }

    span {
      font-size: 8px;
      color: #fff;
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #dc3545;
      top: 26%;
      right: 22%;
    }
  }
}

.slider {
  font-family: $font-family-monospace;
  background-color: $white;
  margin-bottom: 100px;

  .hero-slider {
    width: 90%;
    margin: 0 auto;
  }

  .swiper-slide {
    background-color: $white;
  }

  .slide-img {
    margin-top: 30px;
  }

  .arr-left,
  .arr-right {
    font-size: 36px;
    padding: 36px;

    &:hover {
      cursor: pointer;
    }
  }

  .swiper-button-disabled {
    color: $gray-300;
  }

  .swiper-pagination-bullet {
    font-size: 60px;
    color: $gray-300;
    position: relative;

    &:not(:last-child) {
      margin-right: 40px;

      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        background: #dddddd;
        position: absolute;
        top: 50%;
        left: 100%;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .swiper-pagination-bullet-active {
    color: $gray-700;
  }
}

.swiper-slide-active {
  z-index: 5;
}

.slider-content {
  background-color: $white;

  h4 {
    color: $redish;
    margin-top: 100px;
  }

  h5 {
    font-size: 40px;
    margin-top: 25px;
    display: inline-block;

    span {
      font-size: 60px;

      &:last-of-type {
        font-size: 50px;
      }
    }
  }

  a {
    width: 150px;
    height: 150px;
    background-color: $black;
    color: $white;
    border-radius: 50%;
    margin: 30px auto 0;
    @include transition;

    i {
      margin-left: 10px;
    }

    &:hover {
      text-decoration: none;
      width: 200px;
      background-color: $white;
      color: $dark;
      border: 1px dashed $black;
    }
  }
}

.slide-control {
  background: $gray-100;
}

.banner {
  padding: 0 0 30px;
  background-color: $white;

  img {
    max-width: 100%;
  }

  .search {
    padding: 40px 0;
    width: 80%;
    margin: 0 auto 30px;
    background: url("../images/leaf-left.png") -3% 150% no-repeat,
      url("../images/leaf-right.png") 103% 150% no-repeat #f8f8f8;

    h4 {
      color: $redish;
    }

    input {
      border: none;
      // border-bottom: 1px dashed $redish;
      width: 60%;
      // background-color: transparent;
      margin-top: 20px;
      background: transparent url(../images/input-bg.png) no-repeat left bottom;

      &:focus {
        outline: 0;
      }
    }

    ::placeholder {
      color: #e0afb4;
      font-size: 12px;
      font-style: italic;
      font-family: $font-family-monospace;
    }
  }
}

.special-offer {
  min-height: 100%;
  padding: 20px 30px;
  background: #f1f9f7 url("../images/leaf-left.png") -12% 104% no-repeat;
  box-shadow: 0px 3px 0.95px 0.05px rgba(0, 0, 0, 0.16);

  h4 {
    font-size: 18px;
    font-weight: 700;
    font-family: $font-family-monospace;
  }

  h5 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-family-monospace;
  }

  a {
    font-size: 18px;
    color: $red;
    float: right;
    margin-right: 10px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: rgba($red, 0.7);
    }
  }
}

.banner-content {
  font-family: $font-family-monospace;
  position: absolute;

  p {
    position: relative;
  }

  a {
    font-size: 18px;
    font-family: $font-family-base;
    font-weight: 700;
  }
}

.best-sell,
.feature-book,
.summer-sale {
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid $white;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
  }

  img {
    @include transition;
    z-index: -1;
  }

  &:hover {
    img {
      transform: scale(1.3) rotate(10deg);
    }
  }
}

.best-sell,
.feature-book,
.summer-sale-img {
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.best-sell {
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.45);

  .banner-content {
    color: $white;
    bottom: 0;
    font-size: 42px;
    line-height: 1.2;
    padding: 10px 40px;
    z-index: 4;
  }

  a {
    color: $white;
    position: absolute;
    right: 0;
    bottom: 5px;

    &:hover {
      text-decoration: none;
      color: rgba($white, 0.7);
    }
  }
}

.feature-book {
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.58);

  &::after {
    width: 40%;
  }

  .banner-content {
    color: $white;
    bottom: 0;
    font-size: 30px;
    line-height: 1.2;
    padding-left: 50%;
    z-index: 4;
  }

  a {
    color: $white;
    display: block;
    margin: 30px 0 15px 0;

    &:hover {
      text-decoration: none;
      color: rgba($white, 0.7);
    }
  }
}

.summer-sale {
  margin-top: 30px;
  background: #f4ece5 url("../images/leaf-left.png") -4% 145% no-repeat;

  .banner-content {
    color: $black;
    font-size: 24px;
    line-height: 1.2;
    padding-top: 40px;
    padding-left: 40px;
    z-index: 4;
    width: 100%;
    height: 100%;
  }

  span {
    font-size: 48px;
    display: block;
    margin-top: 10px;
  }

  a {
    color: $red;
    float: right;
    margin-right: 10px;

    &:hover {
      text-decoration: none;
      color: rgba($red, 0.7);
    }
  }
}

.products-tab {
  .container {
    background-color: $white;
  }
}

.filter-tabs {
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 30px;
  background: url("../images/leaf-right.png") center no-repeat,
    url("../images/title-bg2.png") center 190px no-repeat transparent;
  ;

  li {
    font-size: 16px;
    font-family: $font-family-monospace;
    color: $dark;
    position: relative;
    @include transition;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &.active {
      cursor: pointer;
      color: $redish;
    }

    &.active {
      &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: $red;
        position: absolute;
        top: 100%;
        right: calc(50% - 6px);
        transform: rotate(45deg) translate(-50%, -50%);
        border-radius: 2px;
      }
    }
  }
}

.Shape_2 {
  background-color: rgb(254, 65, 86);
  position: absolute;
  left: 758px;
  top: 1974px;
  width: 6px;
  height: 6px;
  z-index: 108;
}

.single-book {
  font-weight: 700;
  background: #f8f8f8;
  padding: 15px 0 30px;
  margin-top: 30px;
  position: relative;

  img {
    max-width: 100%;
  }

  .book-btn {
    background-color: rgba($black, 0.22);
    padding: 10px 0;
    transform: translateY(0);
    position: absolute;
    width: 100%;
    opacity: 0;
    @include transition;

    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:hover {
        background-color: $red;
        text-decoration: none;

        i {
          color: $white;
        }
      }

      i {
        color: $black;
      }
    }
  }

  .price {
    font-size: 12px;
    margin: 30px 0 10px;

    span {
      color: $red;
      text-decoration: line-through;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }

  h6 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;

    span {
      margin-left: 10px;
      text-transform: uppercase;
    }
  }

  &:hover {
    .book-btn {
      transform: translateY(-100%);
      opacity: 1;
    }

    h4 {
      color: $red;
    }
  }

  &.sale {
    position: relative;
    z-index: 1;

    &::after {
      content: "Sale";
      color: $white;
      background: url(../images/badge.svg) no-repeat;
      position: absolute;
      top: 0;
      right: -12px;
      padding: 0 10px;
      margin-top: 15px;
      z-index: 2;
    }

    &::before {
      content: "";
      border-color: transparent $red;
      border-style: solid;
      border-width: 12px 0px 12px 12px;
      height: 0px;
      width: 0px;
      position: absolute;
      right: -12px;
      top: 26px;
      z-index: -1;
    }
  }
}

.view-btn {
  display: inline-block;
  margin: 50px 0 100px;
  font-family: $font-family-monospace;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

.review {
  padding: 100px 0;
  background: $white url("../images/review-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  font-family: $font-family-monospace;

  .control-btn {
    position: absolute;
    top: 100%;
    transform: translateY(0%);
    border: 1px solid $red;
    padding: 10px 10px;

    br {
      display: none;
    }

    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .swiper-button-disabled {
    border: 1px solid $white;
  }

  .swiper-button-next {
    right: 15px;
  }
}

.review-slider {
  background-color: rgba($dark, 0.6);

  .swiper-slide {
    padding: 50px 25px;
  }

  p {
    font-size: 18px;
    font-style: italic;
  }

  span {
    font-weight: 700;

    span {
      color: $red;
    }
  }
}

.blog {
  padding: 70px 0;
  background-color: $white;

  .title {
    font-size: 27px;
    color: $red;
    padding: 30px 35px 45px;
    background: url("../images/leaf-right.png") center no-repeat,
      url("../images/title-bg.png") center 97px no-repeat transparent;
  }

  .swiper-paginations {
    text-align: center;
    margin-top: 35px;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $gray-300;
    transform: rotate(45deg);

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $red;
  }

  .swiper-wrapper {
    min-height: 660px;
  }
}

.swiper-slide-active {
  .single-post {
    &:first-of-type {
      .col-md-6 {
        order: 2;

        &:nth-child(2) {
          order: 1;
        }
      }
    }
  }
}

.single-post {
  margin-top: 30px;
  position: relative;



  a {
    color: $dark;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }

  .categories {
    margin-top: 10px;

    a {
      color: $red;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: $gray-700;
      }
    }
  }

  .post-title {
    margin-top: 12px;
    font-size: 18px;
  }

  .meta {
    margin: 8px 0 20px;

    a {
      color: $redish;
      font-size: 14px;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        color: $gray-700;
      }
    }

    &::after {
      content: "";
      width: 120%;
      height: 2px;
      background-color: rgba(254, 65, 86, 0.4);
      display: block;
      position: relative;
      z-index: 2;
      margin-top: 20px;
    }
  }

  .more-share {
    margin: 14px 0 10px;
    font-size: 13px;

    img {
      margin: 0 20px;
    }

    .share {
      padding: 0 10px;
    }
  }

  &:nth-child(2n) {
    .meta {
      &::after {
        right: 100px;
      }
    }
  }
}

.best-author {
  margin-top: 30px;
  padding-bottom: 35px;
  border-bottom: 3px solid rgba(254, 65, 86, 0.4);

  h2 {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: transparent url(../images/autor-shape.svg) no-repeat left 0;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: 95%;
      z-index: -2;
    }

    &::after {
      content: "";
      width: 64%;
      height: 50%;
      background: #fff;
      background-size: 100%;
      position: absolute;
      left: 18%;
      top: 90%;
      z-index: -1;
    }
  }

  p {
    margin-top: 30px;
  }

  h6 {
    font-style: italic;
    margin-top: 30px;
  }

  a {
    padding: 0 10px;
    color: $gray-300;

    &:hover {
      color: $red;
    }
  }
}

.author-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: $white url("../images/author.jpg") no-repeat center;
  background-size: cover;
  margin: 30px auto 0;
  position: relative;

  &::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 1px solid $white;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
}

#instafeed {
  a {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;

    &::after {
      content: "View";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba($red, 0.5);
      color: $white;
      font-size: 24px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      @include transition;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
  }
}

.social {
  background-color: $white;

  .social-slider {
    padding: 50px 0;
    border-bottom: 1px solid $gray-300;
  }

  a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $redish;
    font-family: $font-family-monospace;

    i {
      margin-right: 5px;
    }

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }
}

footer {
  background-color: $white;
}

.foot-text {
  color: $redish;
  border-top: 1px solid $gray-300;
  padding: 35px 0;
  position: relative;
}

/*************************************
                Back to Top  
 **************************************/

#back-to-top {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $red;
  color: $white;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    background: rgba($red, 0.7);
    text-decoration: none;
  }
}